{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1><strong><span class="glyphicon glyphicon-asterisk"></span> {{ freezer.name }}</h1></strong>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
            {% if message %}
            <div class="alert alert-{{ modifier }}">{{ message }}</div>
            {% endif %}
            <p><strong>Location:</strong> {{ freezer.location }}</p>
            <p><strong>Created By:</strong> {{ freezer.user_rel.first_name }} {{ freezer.user_rel.last_name }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
            <h4>This Freezer Contains:</h4>
            <table class="table table-striped">
                <thead>
                <th>Name</th>
                </thead>
                {% for box in boxes %}
                <tr>
                    <td>{{ box.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}