{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well bs-component">
            <form action="{{ url_for('box.fill_box',box_id=box_id,row=row,column=column) }}" method="post" class="form-horizontal">
                <fieldset>

                    <legend>Fill Box</legend>

                    <div class="form-group">
                        {{ form.primer.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.primer(class_="form-control ui-autocomplete-input",required="True",placeholder="Start Typing Primer Alias") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<script>
    $(function () {
            var p = jQuery.noConflict();
            p = $('#primer');
            p.autocomplete({
                source: function (request, response) {
                    $.getJSON("{{url_for('box.autocomplete')}}", {
                        q: request.term
                    }, function (data) {
                        response(data.matching_results);
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    console.log(ui.item.value);
                }
            });
        })
</script>

{% endblock %}