{% extends "layout.html" %}

{% block content %}
<form action="{{url_for('primer.bulk_aliquot')}}" method="post">
<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
            <h3><span class="glyphicon glyphicon-fullscreen"></span> Bulk Aliquot Primers</h3>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
            <table class="table table-striped">
                <thead>
                    <th>Alias</th>
                    <th>Number of Aliquots</th>
                    <th>Date Aliquoted</th>
                    <th>Concentration</th>
                </thead>
                {% for primer in primers %}
                    <tr>
                        <td>{{ primer.alias }}<input name="id" value="{{primer.id}}" type="hidden"></td>
                        <td><div class="form-group"><input class="form-control input-sm" type="number" name="aliquots"></div></td>
                        <td><div class="form-group"><input class="datepicker form-control input-sm" type="date" name="date_aliquoted" value="{{today}}"></div></td>
                        <td><div class="form-group"><input class="form-control input-sm" type="text" name="conc" required="required"></div></td>
                    </tr>
                {% endfor %}
                </table>
            </div>

        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
            <input type="submit" class="btn btn-success" value="Place Aliquots in Storage">
            </div>
        </div>
    </div>

</form>
{% endblock %}