{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well bs-component">
            <form action="{{url_for('primer.add_primer')}}" method="post" class="form-horizontal">
                <fieldset>

                    <legend>Re-Design Primer</legend>

                    <div class="alert alert-danger">
                        <div class="row">
                            <div class="col-md-10">
                        <strong>WARNING! You must complete this form or click "Undo"</strong>
                                </div>
                                <div class="col-md-2">
                        <a href="/primer/redesign_undo/{{ primer_id }}" class="btn btn-sm btn-default">Undo</a>
                           </div>
                            </div>
                    </div>
                    <div class="form-group">
                        {{ form.pair_id }}
                    </div>
                    <div class="form-group">
                        {{ form.alias.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.alias(required="required",class_="form-control",readonly=true) }}
                            <span class="help-block">The primer alias will remain the same!</span>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.chromosome.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">chr</span>
                                {{ form.chromosome(required="required",class_="form-control") }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.position.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.position(required="required",class_="form-control") }}
                            <span class="help-block">This is left most position (1-based) of the primer (when going 5'->3').</span>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.sequence.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">

                            <div class="input-group">
                                <span class="input-group-addon">5'</span>
                                {{ form.sequence(class_="form-control",required="required") }}
                                <span class="input-group-addon">3'</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        {{ form.application.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.application(class_="form-control") }}
                        </div>
                    </div>


                    <div class="form-group">
                        {{ form.m13.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            <div class="radio">
                                {{ form.m13 }}
                                <span class="help-block">This adds the M13 sequecning tag to the primer.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        {{ form.orientation.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            <div class="radio">
                                {{ form.orientation }}
                                <span class="help-block">If not a paired primer choose "F" here.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.mod_5.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.mod_5(class_="form-control") }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.mod_3.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.mod_3(class_="form-control") }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.scale.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.scale(class_="form-control")|safe }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.purification.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.purification(class_="form-control") }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.dt.label(class_="col-lg-2 control-label") }}
                        <div class="col-lg-10">
                            {{ form.dt(class='datepicker form-control') }}
                        </div>
                        {{ form.hidden_tag() }}
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

    {% endblock %}