{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
            <div class="row">
                <div class="col-md-10">
                    <h3><span class="glyphicon glyphicon-link"></span> All Primer Pairs</h3></div>
                <div class="col-md-2 text-right">
                    <div class="btn-group">
                        <a href="#" class="btn btn-default btn-sm disabled">With Selected...</a>
                        <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="pair1" name="add_to_set"><span
                                    class="glyphicon glyphicon-th-large"></span> Add to set</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" id="pair2" name="print_pick_list"><span
                                    class="glyphicon glyphicon-print"></span> Print Pick List</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" id="pair3" name="add_to_cart"><span
                                    class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a></li>
                            <li><a href="#" id="pair4" name="remove_from_cart"><span
                                    class="glyphicon glyphicon-remove"></span> Remove from cart</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
            {% if message %}
            <div class="alert alert-{{ modifier }}">{{ message }}</div>
            {% endif %}

            <table class="table table-striped" id="pairs">
                <thead>
                <tr>
                    <th>F id</th>
                    <th>F Alias</th>
                    <th>F Sequence</th>
                    <th>F Location</th>
                    <th>R id</th>
                    <th>R Alias</th>
                    <th>R Sequence</th>
                    <th>R Location</th>

                </tr>
                </thead>
                {% for i in pairs %}
                <tr>
                    <td>{{ i.forward_rel.id }}</td>
                    <td>{{ i.forward_rel.alias }}</td>
                    <td>{{ i.forward_rel.sequence }}</td>
                    {% if i.forward_rel.box_rel %}
                    <td>
                        <h6>
                            <a href="{{ url_for('box.view_box_detail',box_id=i[0].box_rel.id)}}">{{ i[0].box_rel.name
                                }}</a> | {{ i[0].row }} | {{ i[0].column }}
                        </h6>
                    </td>
                    {% else %}
                    <td>
                        <h6>
                            No Location
                        </h6>
                    </td>
                    {% endif %}
                    <td>{{i.reverse_rel.id}}</td>
                    <td>{{ i.reverse_rel.alias }}</td>
                    <td>{{ i.reverse_rel.sequence }}</td>
                    {% if i.reverse_rel.box_rel %}
                    <td>
                        <h6>
                            <a href="{{ url_for('box.view_box_detail',box_id=i[0].box_rel.id)}}">{{ i[0].box_rel.name
                                }}</a> | {{ i[0].row }} | {{ i[0].column }}
                        </h6>
                    </td>
                    {% else %}
                    <td>
                        <h6>
                            No Location
                        </h6>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}