{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h2><span class="glyphicon glyphicon-th-list"></span> PanelPal Development Team</h2></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Developed at Sheffield Diagnostic Genetics Service by the Bioinformatics team:
                <ul>
                <li>Matthew Parker</li>
                <li>Natalie Groves</li>
                <li>Elizabeth Sollars</li>
                <li>Nichola Cooper</li>
                <li>Christine Hicks</li>
                    </ul>
            </div>
            <div class="col-md-6"><img class="img-thumbnail" src="static/images/bioinfo.jpg"></div>
        </div>
    </div>
</div>


{% endblock %}